<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.q.cordova"
        version="0.3.3">

  <name>Q.Cordova</name>


  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=4.0.0" />
    <engine name="cordova-ios" version=">=4.3.1" />
  </engines>

  <asset src="www/q_cordova.js" target="js/q_cordova.js"/>

  <js-module src="www/q_cordova.js" name="Q.Cordova">
    <clobbers target="Q.Cordova" />
  </js-module>

  <preference name="URL_SCHEME" default="qcordova" />
  
  <dependency id="cordova-plugin-safariviewcontroller" url="https://github.com/EddyVerbruggen/cordova-plugin-safariviewcontroller.git"/>
  <dependency id="cordova-plugin-customurlscheme" url="https://github.com/EddyVerbruggen/Custom-URL-scheme.git"/>
  <dependency id="cordova-plugin-remote-injection" url="https://github.com/Qbix/cordova-plugin-remote-injection.git"/>
  <dependency id="cordova-plugin-browsertab" url="https://github.com/Qbix/cordova-plugin-browsertab.git"/>
  <dependency id="cordova-plugin-statusbar" url="https://github.com/apache/cordova-plugin-statusbar.git"/>
  <dependency id="cordova-plugin-device" url="https://github.com/apache/cordova-plugin-device.git"/>
  <dependency id="cordova-plugin-badge" url="https://github.com/katzer/cordova-plugin-badge.git#0.8.8"/>
  <dependency id="cordova-plugin-ionic-keyboard" url="https://github.com/ionic-team/cordova-plugin-ionic-keyboard.git"/>
  <dependency id="cordova-plugin-camera" url="https://github.com/apache/cordova-plugin-camera.git"/>
  
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <!-- <preference name="AndroidLaunchMode" value="singleInstance"/> -->
      <preference name="CRIPageLoadPromptInterval" value="60" />
      <feature name="QCordova">
        <param name="android-package" value="com.q.cordova.plugin.QCordova"/>
      </feature>
    </config-file>
    
     <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.CAMERA"/>
      </config-file>
      
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.q.cordova.plugin.MultiTestChooserActivity" />
        <activity android:name="com.q.cordova.plugin.QChooseLinkActivity"/>
        <activity android:name="com.q.cordova.plugin.QChooseImageActivity" android:launchMode="singleTop"/>
    </config-file>

    <source-file src="src/android/Q.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/QActivity.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/QCordova.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/QConfig.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/FileSystemHelper.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/QbixWebViewClient.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/BaseActivity.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/MultiTestChooserActivity.java" target-dir="src/com/q/cordova/plugin/"/>

    <source-file src="src/android/QChooseLinkActivity.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/QChooseImageActivity.java" target-dir="src/com/q/cordova/plugin/"/>
    <source-file src="src/android/QCordovaAbstractActivity.java" target-dir="src/com/q/cordova/plugin/"/>

    <source-file src="src/android/network/NetworkApi.java" target-dir="src/com/q/cordova/plugin/network"/>
    <source-file src="src/android/network/NetworkService.java" target-dir="src/com/q/cordova/plugin/network"/>
    <source-file src="src/android/network/models/PingResponse.java" target-dir="src/com/q/cordova/plugin/network/models/"/>

    <source-file src="src/android/multi_test_chooser_activity.xml" target-dir="res/layout/"/>
    <source-file src="src/android/q_choose_image_activity.xml" target-dir="res/layout/"/>
    <source-file src="src/android/q_choose_link_activity.xml" target-dir="res/layout/"/>

    

    <framework src="com.squareup.retrofit2:retrofit:2.0.0" />
    <framework src="com.squareup.retrofit2:converter-gson:2.0.0" />
    
    <framework src="src/android/fastlaneScreenshotTest/fastlaneScreenshotTest.gradle" custom="true" type="gradleReference"/>

    <source-file src="build-extras.gradle" target-dir="../android" />

    <hook type="after_plugin_install" src="scripts/android_modify_source_files.js"/>

  </platform>

  <platform name="ios">
    <!-- <hook type="before_plugin_install" src="scripts/prepareCocoaPods.js" /> -->
    <hook type="after_plugin_install" src="scripts/add_swift_support.js"/>
    <hook type="after_platform_add" src="scripts/add_swift_support.js"/>
    <hook type="after_plugin_install" src="scripts/before_build_q_plugin.js"/>
    <hook type="before_build" src="scripts/before_build_q_plugin.js"/>

    <config-file platform="ios" target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
      <false/>
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <preference name="deployment-target" value="8.3" />
      <preference name="CRIPageLoadPromptInterval" value="60" />
      <feature name="QCordova">
        <param name="ios-package" value="QCordova" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/Q-Bridging-Header.h" target-dir="QCordovaPlugin"/>

    <header-file src="src/ios/Base/Q.h" target-dir="QCordovaPlugin/Base"/>
    <source-file src="src/ios/Base/Q.m" target-dir="QCordovaPlugin/Base"/>
    <header-file src="src/ios/Base/QDelegate.h" target-dir="QCordovaPlugin/Base"/>
    <source-file src="src/ios/Base/QDelegate.m" target-dir="QCordovaPlugin/Base"/>
    <header-file src="src/ios/Base/QWebViewController.h" target-dir="QCordovaPlugin/Base"/>
    <source-file src="src/ios/Base/QWebViewController.m" target-dir="QCordovaPlugin/Base"/>

    <header-file src="src/ios/Config/QConfig.h" target-dir="QCordovaPlugin/QConfig"/>
    <source-file src="src/ios/Config/QConfig.m" target-dir="QCordovaPlugin/QConfig"/>

    <header-file src="src/ios/CordovaWebViewHelpers/CordovaWebViewURLCache.h" target-dir="QCordovaPlugin/CordovaWebViewHelpers"/>
    <source-file src="src/ios/CordovaWebViewHelpers/CordovaWebViewURLCache.m" target-dir="QCordovaPlugin/CordovaWebViewHelpers"/>

    <header-file src="src/ios/CustomViewControllers/QChooseLinkDelegate.h" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <header-file src="src/ios/CustomViewControllers/QBaseChooseDataViewController.h" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <source-file src="src/ios/CustomViewControllers/QBaseChooseDataViewController.m" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <header-file src="src/ios/CustomViewControllers/QChooseImageViewController.h" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <source-file src="src/ios/CustomViewControllers/QChooseImageViewController.m" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <header-file src="src/ios/CustomViewControllers/QChooseLinkViewController.h" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <source-file src="src/ios/CustomViewControllers/QChooseLinkViewController.m" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <header-file src="src/ios/CustomViewControllers/QCustomChooseWebViewController.h" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <source-file src="src/ios/CustomViewControllers/QCustomChooseWebViewController.m" target-dir="QCordovaPlugin/CustomViewControllers"/>
    <resource-file src="src/ios/CustomViewControllers/QCustomVCStoryboard.storyboard" />

    <header-file src="src/ios/Network/Model/Request/PingRequest.h" target-dir="QCordovaPlugin/Network/Model/Request"/>
    <source-file src="src/ios/Network/Model/Request/PingRequest.m" target-dir="QCordovaPlugin/Network/Model/Request"/>
    <header-file src="src/ios/Network/Model/Response/PingDataResponse.h" target-dir="QCordovaPlugin/Network/Model/Response"/>
    <source-file src="src/ios/Network/Model/Response/PingDataResponse.m" target-dir="QCordovaPlugin/Network/Model/Response"/>
    <header-file src="src/ios/Network/Model/Response/PingStatusModel.h" target-dir="QCordovaPlugin/Network/Model/Response"/>
    <source-file src="src/ios/Network/Model/Response/PingStatusModel.m" target-dir="QCordovaPlugin/Network/Model/Response"/>
    <header-file src="src/ios/Network/Model/Response/Sticky.h" target-dir="QCordovaPlugin/Network/Model/Response"/>
    <source-file src="src/ios/Network/Model/Response/Sticky.m" target-dir="QCordovaPlugin/Network/Model/Response"/>
    <header-file src="src/ios/Network/QbixApi.h" target-dir="QCordovaPlugin/Network"/>
    <source-file src="src/ios/Network/QbixApi.m" target-dir="QCordovaPlugin/Network"/>

    <header-file src="src/ios/Utils/FileSystem/QFileSystemHelper.h" target-dir="QCordovaPlugin/Utils/FileSystem"/>
    <source-file src="src/ios/Utils/FileSystem/QFileSystemHelper.m" target-dir="QCordovaPlugin/Utils/FileSystem"/>
    <header-file src="src/ios/Utils/QJsonModel/QJSONModel.h" target-dir="QCordovaPlugin/Utils/QJsonModel"/>
    <source-file src="src/ios/Utils/QJsonModel/QJSONModel.m" target-dir="QCordovaPlugin/Utils/QJsonModel"/>
    <header-file src="src/ios/Utils/QKeychainStore/QKeychainStore.h" target-dir="QCordovaPlugin/Utils/QKeychainStore"/>
    <source-file src="src/ios/Utils/QKeychainStore/QKeychainStore.m" target-dir="QCordovaPlugin/Utils/QKeychainStore"/>
    <header-file src="src/ios/Utils/NSString/NSString+SHA1.h" target-dir="QCordovaPlugin/Utils/NSString"/>
    <source-file src="src/ios/Utils/NSString/NSString+SHA1.m" target-dir="QCordovaPlugin/Utils/NSString"/>
    <header-file src="src/ios/Utils/QSignManager/QSignManager.h" target-dir="QCordovaPlugin/Utils/QSignManager"/>
    <source-file src="src/ios/Utils/QSignManager/QSignManager.m" target-dir="QCordovaPlugin/Utils/QSignManager"/>
    <source-file src="src/ios/Utils/QSignManager/QCryptoRSAManager.swift"/>
    <source-file src="src/ios/Utils/QSignManager/QSignUtils.swift"/>
    <source-file src="src/ios/Utils/QSignManager/CryptoExportImportManager.swift"/>
    <source-file src="src/ios/QbixAppGroupManager.swift"/>
    <source-file src="src/ios/fastlane/DarwinNotificationCenterBeeper.swift"/>


    <header-file src="src/ios/TestQ/MultiTestBaseViewController.h" target-dir="QCordovaPlugin/TestQ/MultiTestBaseViewController"/>
    <source-file src="src/ios/TestQ/MultiTestBaseViewController.m" target-dir="QCordovaPlugin/TestQ/MultiTestBaseViewController"/>
    <header-file src="src/ios/TestQ/MultiTestChooserViewController.h" target-dir="QCordovaPlugin/TestQ/MultiTestChooserViewController"/>
    <source-file src="src/ios/TestQ/MultiTestChooserViewController.m" target-dir="QCordovaPlugin/TestQ/MultiTestChooserViewController"/>
    <header-file src="src/ios/TestQ/MultiTestUINavigationController.h" target-dir="QCordovaPlugin/TestQ/MultiTestUINavigationController"/>
    <source-file src="src/ios/TestQ/MultiTestUINavigationController.m" target-dir="QCordovaPlugin/TestQ/MultiTestUINavigationController"/>

    <resource-file src="src/ios/TestQ/QTestStoryboard.storyboard" />
    
    <header-file src="src/ios/QCordova.h" target-dir="QCordovaPlugin"/>
    <source-file src="src/ios/QCordova.m" target-dir="QCordovaPlugin"/>

    <header-file src="src/ios/UIWebView+AdditionalOptions.h" target-dir="QCordovaPlugin"/>
    <source-file src="src/ios/UIWebView+AdditionalOptions.m" target-dir="QCordovaPlugin"/>

    <!-- <framework src="SwiftyRSA" type="podspec" spec="1.2.0" /> -->
    <framework src="Obfuscator" type="podspec" spec="2.0" />
    
    <!-- <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$URL_SCHEME</string>
          </array>
        </dict>
      </array>
    </config-file> -->

  </platform>

</plugin>